.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #c1b4f1e9, #faffb6c2);
}

.register-page form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
}

h1 {
  color: #a56526;
  text-align: center;
  margin-bottom: 20px;
}

button {
  background-color: #a56526;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #87541b;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #a56526;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
}
